@model IEnumerable<Director>
@{
    ViewData["Title"] = "Director List";
}

<div class="row">
    <table class=" col-md-8  table table-striped table-bordered">
        <thead>
        <th>@Html.DisplayNameFor(m=> m.ProfilePictureURL)</th>
        <th>@Html.DisplayNameFor(m=> m.FullName)</th>
        <th>@Html.DisplayNameFor(m=> m.Bio)</th>
        <th>Actions</th>
        </thead>
        <tbody>
            @foreach (var director in Model)
            {
                <tr>

                    <td class="align-middle"><img class="rounded-circle foto" src="@director.ProfilePictureURL" alt="@director.FullName"></td>
                    <td class="align-middle">@director.FullName</td>
                    <td class="align-middle">@director.Bio</td>
                    <td>
                        <a class="btn btn-outline-primary" style="margin-bottom: 5px"><i class="bi bi-pen"></i></a>
                        <br />
                        <a class="btn btn-outline-info" style="margin-bottom: 5px"><i class="bi bi-info-circle"></i></a>
                        <br />
                        <a class="btn btn-outline-danger" style="margin-bottom: 5px"><i class="bi bi-trash"></i></a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>



